@import "style.css";

header {
  display: flex;
  flex-direction: row;
  background-color: inherit;
  border-bottom: 2px solid var(--second-color);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  align-items: center;
}

/* ***MENU-DROPDOWN*** */
#menu-drop-down {
  height: 100%;
  position: relative;
  background-color: inherit;
}

#menu-logo {
  max-width: 35px;
  min-width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0px 30px;
}

#menu-logo img {
  width: 100%;
}

#menu-drop-down nav {
  width: 200px;
  height: auto;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: inherit;
  border: 2px solid var(--second-color);
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

#menu-drop-down:hover nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100%;
}

#menu-drop-down nav ul,
#menu-drop-down nav ul li,
#menu-drop-down nav ul li a {
  width: 100%;
}

#menu-drop-down nav ul li {
  list-style-type: none;
  border-bottom: 1px solid var(--second-color);
  text-align: center;
}

#menu-drop-down nav ul li:last-child {
  border-bottom: none;
}

#menu-drop-down nav ul li a {
  display: block; /* Permet d'appliquer des dimensions car sinon le padding et le margin ne fonctionnent pas "The display: inline property prevents width from having an effect.
    Try setting display to something other than inline." */
  padding: 13px 15px;
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--decorative-font);
  font-weight: bold;
  font-size: 1.3rem;
}

#menu-drop-down nav ul li a:hover {
  background-color: var(--second-color);
  color: var(--background-color);
  font-weight: bolder;
}

.active-page a,
.active-page a:hover {
  color: var(--primary-color) !important;
  background-color: rgb(210, 207, 207) !important;
}

.menu-item-responsive {
  display: none;
}

#menu-produits {
  display: none;
}

#produits-menuitem:hover #menu-produits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-produits li a {
  padding: 8px 15px !important;
  font-size: 1.2rem !important;
}

#menu-produits li:first-child {
  border-top: 1px solid var(--second-color);
}

/* ***LOGO & TITLE*** */
#title {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo {
  margin-right: 10px;
}
#logo img {
  width: 48px;
}

header h1 {
  font-family: var(--decorative-font);
  margin: 30px 0px;
  text-align: center;
}

/* ***SECOND MENU*** */
#header-second-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

#logo-mon-panier {
  max-width: 35px;
  min-width: 25px;
  height: auto;
  margin: 0px 20px;
}
#logo-mon-panier img {
  width: 100%;
}

#logo-profil {
  max-width: 50px;
  min-width: 30px;
  height: auto;
  margin-top: 13px;
}
#logo-profil img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  header h1 {
    font-size: 1.5rem;
  }
  #logo img {
    width: 43px;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 1.2rem;
  }
  #header-second-menu {
    display: none;
  }
  .menu-item-responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menu-item-responsive img {
    width: 35px;
  }

  .menu-item-responsive:first-child a img {
    padding-top: 10px;
  }
  .menu-item-responsive a:hover {
    background-color: var(--background-color) !important;
    border: 2px solid var(--primary-color);
  }
  .menu-item-responsive:first-child a:hover {
    border-radius: 10px 10px 0px 0px;
  }
}
