@import "style.css";

main {
  width: 100%;
  flex-grow: 1;
  padding: 15px 15px;
}

main h2 {
  font-family: var(--decorative-font);
  color: var(--primary-color);
  margin: 15px 0 30px 0;
  text-align: center;
  font-size: 35px;
}

main h3 {
  color: var(--primary-color);
  font-size: 20px;
}

main li {
  list-style: none;
}

main a {
  text-decoration: none;
  color: var(--primary-color);
}

main button {
  width: 150px;
  padding: 8px 15px 8px 15px;
  border-radius: 10%;
  font-size: medium;
  font-weight: bolder;
  margin: 10px 0;
}

@media screen and (max-width: 720px) {
  h2 {
    font-size: 25px;
  }
  button {
    width: 100px;
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
}

/* ***Accueil*** */
#main-accueil {
  padding: 0;
}

#banniere {
  display: flex;
  width: 100%;
  justify-content: center;
}

#banniere-left,
#banniere-right,
#banniere-middle {
  max-width: 500px;
}
#banniere-left img,
#banniere-right img,
#banniere-middle img {
  width: 100%;
}

@media screen and (max-width: 720px) {
  #banniere-right {
    display: none;
  }
}

#content-accueil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#content-accueil p {
  margin: 20px 15px;
}

/* ***A propos*** */

#main-a-propos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#main-a-propos article {
  display: flex;
  flex-direction: column;
}

#main-a-propos article ul li a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

#main-a-propos article ul {
  margin-top: 20px;
}

#main-a-propos article ul li {
  margin: 10px 0;
}

#a-propos-content {
  margin: 20px;
}

#a-propos-content h3 {
  margin: 20px 0;
}

#a-propos-content p {
  text-align: justify;
  margin-bottom: 5px;
}

#conteneur-iframe {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}
iframe {
  width: 100%;
}

/* ***Contact*** */
#main-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#container-formulaire {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 10px 0px 0px 10px;
}

input {
  width: 250px;
  display: block;
  margin: 10px;
}

textarea,
select {
  display: block;
  margin: 10px;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: #999;
}

#bouton-form-contact {
  background-color: var(--functionality-first-color);
  color: var(--background-color);
  border: solid 2px var(--functionality-first-color);
}
#bouton-form-contact:hover {
  background-color: var(--background-color);
  color: var(--functionality-first-color);
}

#nom-prenom {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

#contact-image img {
  max-width: 600px;
  padding: 20px;
}

#contact-image img {
  width: 100%;
  border-radius: 30%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  #nom-prenom {
    flex-direction: column;
  }

  input {
    width: 200px;
  }

  textarea {
    width: 200px;
  }

  #contact-image img {
    padding: 30px 10px;
  }

  #container-formulaire {
    align-items: center;
  }

  #bouton-form-contact {
    margin-left: 10px;
  }
}

/* ***Produits*** */
#main-produit {
  width: 100%;
  text-align: center;
}

#produits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produit {
  width: 220px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  margin: 20px;
}

.produit h3 {
  font-family: var(--decorative-font);
  color: var(--primary-color);
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0px;
}

.image-produit {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px 10px 0px 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.image-produit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.description-produit {
  width: 200px;
  margin: 0px 0px 10px 25px;
}

.description-produit p {
  font-size: small;
  text-align: justify;
}

.description-produit p:last-child {
  color: var(--primary-color);
}

.bouton {
  display: flex;
  justify-content: center;
}

.bouton img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}

.bouton a :hover {
  width: 60px;
  border: 1px solid var(--primary-color);
}

/* ***VALIDATION*** */
