@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gowun+Batang:wght@400;700&display=swap");
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --primary-color: #d94862;
  --second-color: #dcbda8;
  --font-color: #3a3a3a;
  --background-color: #fcfcfa;
  --functionality-first-color: #8cc4bb;
  --functionality-second-color: #b9c7ab;
  --decorative-font: "Dancing Script", serif;
  --general-font: "Gowun Batang", serif;
}

* {
  /*  Le symbole * permet de cibler tous les les éléments d'une page. */
  box-sizing: border-box;
  margin: 0; /* Permet de supprimer les marges par défaut. */
  padding: 0; /* Permet de supprimer les padding par défaut. */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  font-family: var(--general-font);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}

/* ***VALIDATION*** */

#main-validation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#main-validation img {
  width: 400px;
  height: 200px;
}
