@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gowun+Batang:wght@400;700&display=swap");
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --primary-color: #d94862;
  --second-color: #dcbda8;
  --font-color: #3a3a3a;
  --background-color: #fcfcfa;
  --functionality-first-color: #8cc4bb;
  --functionality-second-color: #b9c7ab;
  --decorative-font: "Dancing Script", serif;
  --general-font: "Gowun Batang", serif;
}

* {
  /*  Le symbole * permet de cibler tous les les éléments d'une page. */
  box-sizing: border-box;
  margin: 0; /* Permet de supprimer les marges par défaut. */
  padding: 0; /* Permet de supprimer les padding par défaut. */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  font-family: var(--general-font);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}

/* ***MAIN*** */

/* ***Page nous contacter*** */

/* ***Produits*** */

#main-produit {
  width: 100%;
  text-align: center;
}

#produits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produit {
  width: 220px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  margin: 20px;
}

.produit h3 {
  font-family: var(--decorative-font);
  color: var(--primary-color);
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0px;
}

.image-produit {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px 10px 0px 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.description-produit {
  width: 200px;
  margin: 0px 0px 10px 25px;
}

.description-produit p {
  font-size: small;
  text-align: justify;
  margin: 0px;
  /* Permet de supprimer les marges par défaut. */
}

.description-produit p:last-child {
  color: var(--primary-color);
}

.bouton {
  display: flex;
  justify-content: center;
}

.bouton img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}

.bouton a :hover {
  width: 60px;
  border: 1px solid var(--primary-color);
}

/* ***VALIDATION*** */

#main-validation img {
  width: 500px;
  height: auto;
}
